@model IEnumerable<MedistockAppCore.Models.Scheduling>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIdDoctorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FkIdPatientNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdDoctorNavigation.IdUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FkIdPatientNavigation.IdPatient)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdScheduling">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdScheduling">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdScheduling">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
